
<div class="d-flex justify-content-center bg-light bg-gradient shadow-lg m-2 mt-5 mb-5 rounded">
    <main role="main" class="container p-5 col-6 ">
        <h1 class="cover-heading">Datos de Contacto</h1>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4 col-xxl-3"><img src="https://pbs.twimg.com/profile_images/1360747459811676162/_2O7f_HR_400x400.jpg" width="150" class="rounded-circle" alt=""></div>
            <div class="col">
                <strong class="lead bold"><i>Juan Diego</i></strong>
                <p class="lead">juveron@alumnos.exa.unicen.edu.ar <a href="mailto://juveron@alumnos.exa.unicen.edu.ar" class="btn btn-sm btn-danger p-2 pt-0 pb-0">Escribir &raquo;</a></p>
                <p class="lead">Github: <a href="http://github.com/diegojuandiego" class="btn btn-sm btn-warning p-2 pt-0 pb-0" target="_blank">@diegojuandiego</a></p>
                <p class="lead">Personal: <a href="http://juandiego.ar" target="_blank" class="btn btn-sm btn-warning p-2 pt-0 pb-0">juandiego.ar</a></p>
                <p class="lead"></p>
                <p class="lead">Tandil, Buenos Aires, Argentina</p>
                <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17947.446445812184!2d-59.091155921230495!3d-37.32616373383414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9590e0389a213c5d%3A0xcff9aea03c955932!2sUNICEN%20-%20Campus%20Universitario!5e0!3m2!1ses-419!2sar!4v1624616823884!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
                <p class="lead"></p>
                <a [routerLink]="['/noticias']" class="btn btn-secondary m-1 mt-0 mb-0">Home &raquo;</a>
                <a [routerLink]="['/destacadas']" class="btn btn-secondary m-1 mt-0 mb-0">Noticias Destacadas &raquo;</a>
                <a [routerLink]="['/about']" class="btn btn-secondary m-1 mt-0 mb-0">Sobre el sitio &raquo;</a>
            </div>
        </div>
    </main>
</div>
