<div class="container-fluid mt-4">
  <div class="row mb-2">

    
      <div *ngFor="let noticia of noticias" class="col-sm-6 col-md-4 col-lg3" >

        <div class="m-0 p-0">
          <div class="card flex-md-row mb-4 box-shadow h-md-250" [ngClass]="{'noticiaDestacada':noticia.destacada==true}">
            <div class="card-body d-inline-block align-items-start">
              <strong class="etiqueta bg-info rounded text-white float-left" *ngIf="noticia.destacada">DESTACADA</strong>
              <span class="ml-auto text-muted float-right" >{{noticia.pubDate | date:"short"}}</span>
              <h3 class="mb-0 float-none">
                <a class="text-dark" (click)="readNoticia(noticia)" [routerLink]="['/read']">{{noticia.title}}</a>
              </h3>
              <p class="card-text mb-auto">{{noticia.description}}</p>
              <div class="media">
                <img class="card-img-right flex-auto align-self-center d-block" src="{{noticia.enclosure}}">
              </div>
              <a class="mt-2" (click)="readNoticia(noticia)" [routerLink]="['/read']">Leer más...</a>
            </div>
          </div>
        </div>
      </div>
    

  </div>
</div>