html {
	font-family: "Trebuchet MS", verdana, sans-serif;
}

/* Encabezado y Pie */

header {
	
	background-image: url("/assets/css/fondotecno.jpg");
	background-position: 20% 85%;
}

.encabezado a, .encabezado a:visited, .encabezado a:hover {
	text-decoration: none;
}

nav {
	background-color:gold;
}

nav ul {
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	white-space: nowrap;
}

nav ul li {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	padding: 0.5rem 2rem
}

nav ul li:hover {
	background-color: orange;
}

nav ul li a:hover {
	text-decoration: none;
	color: white;
}

footer {
	background-color: gray;
	color: white;
	font-size: 0.8rem;
}

/* General */

.sombra {
	box-shadow: 0rem .25rem 0.25rem rgba(255, 166, 0, 0.5);
}

.noticiaDestacada {
	/*border:1px solid rgba(0, 0, 0, 0.15);*/
	box-shadow: 0 -1rem 1.0rem rgba(0, 0, 0, 0.2) inset;
}

.etiqueta {
	font-size: .7em;
	padding: .3em .5em;
	margin-right: .5em;
}

a {
	color: midnightblue;
	cursor: pointer;
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	color:  midnightblue;
}

h2.sub {
	font-size: 1.2rem;
}

h3 a {
	font-size: 1.1em;
	color:  midnightblue;
	font-weight: normal;
	text-decoration: none;
}

h3 a:hover {
	background-color: orange;
	text-decoration: underline;
}

h6 {
	font-weight: normal;
	font-size: 0.9em;
	color:gray;
}

img {
	width:100%;
}
figcaption {
	font-size: 0.75rem;
	text-align: center;
}

p {
	color: #515151;
	padding: 0.5rem;
	text-align: justify;
}

.invisible {
	display:none;
}





/* Formulario de Contacto */

form {
	padding: 2%;
}

.formContacto input, .formContacto button, .formContacto textarea, .formContacto label {
	margin: 5px 15px;
	margin-left: 0;
	padding: 5px;
	display: block;
}

.formContacto input, .formContacto textarea {
	border: 2px solid grey;
}

.formContacto textarea {
	width:80%;
}
