<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/estilos.css">
	<title>{{title | uppercase}}</title>
</head>
<body>

	<header class="container-fluid pt-4 pb-4 encabezado">
		<a [routerLink]="['/']">
			<h1 class="text-center">Ciencia y Tecnología</h1>
			<h2 class="text-center mb-3 sub">Vos y el reloj que no se detiene</h2>
		</a>
	</header>

	<nav class="d-flex justify-content-center">
		<ul class="nav d-flex justify-content-center">
			<li>
				<a class="" (click)="filtrar(false)" [routerLink]="['/']">Inicio</a>
			</li>
			<li>
				<a class="" (click)="filtrar(true)" [routerLink]="['/destacadas']">Destacadas</a>
			</li>
			<li>
				<a class="" [routerLink]="['/about']">Sobre el proyecto</a>
			</li>
			<li>
				<a class="" [routerLink]="['/contacto']">Contacto</a>
			</li>
		</ul>
	</nav>

	<div class="wrapper">
		<router-outlet></router-outlet>
	</div>

	<footer class="d-flex justify-content-center mt-4 m-2 p-2 rounded">
		<h5 class="jumbotron">Copyright (C) 2021 {{title | uppercase}}</h5>
	</footer>

	<script type="text/javascript" src=""></script>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
